/* Styles généraux */

@import url(https://fonts.bunny.net/css?family=bevan:400);
@import url(https://fonts.bunny.net/css?family=allerta:400);

html, body {
    height : 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#accueil { /* fond de la page d'accueil */
    background-image: url('images/cover.png'); 
    background-size: cover;
    background-position: center;
}

.grid-container {
    height : 100%;
    display: grid;
    grid-template-rows: 1fr 1.5fr 1fr;
}

#center_div{
    background-color: #f7f1e9;
}

header {
    text-align: center;
    padding: 50px;
}

h1 {
    font-size: 2.5em;
    color: #363636;
    font-weight: bold;
    font-family: 'Bevan', display;
}

h2 {
    font-size: 1.3em;
    color: #666;
    margin-top: 10px;
    font-family: 'Allerta', sans-serif;
}

.home_links {
    margin-top: 100px;
}

.home_links a {
    text-decoration: none;
    color: #363636;
    font-family: 'Allerta', sans-serif;
    font-size: 1.2em;
    padding: 5px 15px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

.home_links a:hover {
    color: #fff;
    background-color: #a04242;
    border-color: #a04242;
}


/* MAP ========================================================================= */

.elem-container {
    height : 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1.5fr 5fr;
}

#map {
    height:100%;
}


.legend {
    padding: 10px;
    line-height: 1.5em;
    color: #555;
    background-color: white;
}
.legend .color-bar {
    height: 20px;
    width: 150px;
    background: linear-gradient(to right, red, green); /* Ajustez pour correspondre à votre échelle de couleurs */
    border: 1px solid #ccc;
}

.legend .labels {
    display: flex;
    justify-content: space-between;
}

.leaflet-popup-content p {
    margin: 0 !important;
    padding: 0 !important;
}

#hide_json{
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px 10px;
    cursor: pointer;
    pointer-events: none;
    opacity: 0.5;
    border-radius: 3px;
}

#hide_json:hover {
    color: #fff;
    background-color: #a04242;
    border-color: #a04242;
    border-radius: 3px;
}

#searchpanel{
    background-color: #fffde9;
}


/* SOURCES ====================================================================================*/

#page_sources{ /* fond de la page d'accueil */
    background-image: url('images/cover.png'); 
    background-size: cover;
    background-position: center;
}


.grid-sources-container{
    height : 100%;
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
}

#div_sources{
    background-color: #f7f1e9;
}

#liste_sources{
    margin-top: 60px;
    margin-bottom: 30px;
}

#div_sources ul li {
    text-align: left;
    text-decoration: none;
    color: #363636;
    font-family: 'Allerta', sans-serif;
    font-size: 1em;
    padding: 5px 15px;
    margin-right: 10px;
    margin-left: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, border-color 0.3s ease;
}

#div_sources ul li a {
    text-decoration: none;
    color: #363636;
    font-family: 'Allerta', sans-serif;
    font-size: 1em;
    color:  #a04242;
}

#div_sources ul li a:hover {
    text-decoration: none;
    color: #363636;
    font-family: 'Allerta', sans-serif;
    font-size: 1em;
    transition: color 0.3s ease;
}
